.GameList__Card_Body {
    
    
    height: 15rem;

    
    display: flex;
    justify-content: center;
    align-items: center;


    padding: 1rem;

  
}
.GameList__Card_Inner {

    width: 100%;
    height: 100%;

    border-radius: 5px;
    overflow:hidden;
    background-color: var(--ui_background);
    box-shadow: 10px 10px 6px 0px hsla(0, 0%, 0%, 10%);
    
}