.NavContainer__button_body {
    box-sizing: content-box;
    
    height: 2.4rem;
    display: flex;
    justify-content: center;
    flex-grow: 0;
    align-items: center;
    width: 100%;

    margin-right: auto;

    /*border-width: 1px 1px 1px 1px;
    border-color: var(--col_border);
    border-style:solid;
    */
    background-color: var(--col_bg);
    border-radius: 0rem;

    user-select: none;
}

.NavContainer__button_text {
    border-bottom: 1px solid transparent;
}



@media(hover: hover) and (pointer: fine) {
    .NavContainer__button_body:hover {
        background-color: var(--col_bg-hover);
        cursor: pointer;
        
    
        /*transform: scale(1.03);
        transition-timing-function: linear;
        transition-duration: 10ms;*/
    }
    .NavContainer__button_body:hover .NavContainer__button_text {
        color: var(--col_text-highlight);
        border-bottom: 1px solid var(--col_text-highlight);
    }
}

.NavContainer__button_body:active {
    background-color: var(--col_bg-active)
}