.ProfileBar__Body {
    display:flex;
    justify-content: flex-start;
    align-content: center;
    flex-grow: 0;

    margin-bottom: 0rem;
    padding: 1rem;

    background-color: var(--col_bg);

    font-size: 1rem;
    position: relative;
    border-radius: 0.5rem;
    border-width: 2px 2px 2px 2px;
    border-color: var(--col_border);
    border-style: solid;
}   

.ProfileBar__TextCol {
    display: flex;
    align-items: left;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.ProfileBar__TextRow {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-self: end;
}

.ProfileBar__Icon {
    height: 4rem;
    width: 4rem;
    align-self: center;
    margin-left: 1rem;
    background: blue;
    border-radius: 50%;
}

.ProfileBar__Text_NameTitle {
    font-size: 1rem;
    color: var(--ui_text-color);
    font-family: Verdana;
}

.ProfileBar__Text_SmallLink {
    font-size: 0.6rem;
    border-bottom:1px solid var(--col_text-base);
}

.ProfileBar__Text_SmallLink:hover{
    cursor: pointer;
    color: var(--col_text-highlight);
    border-color: var(--col_text-highlight);
}