.ContentContainer_Body {
    flex-grow:1;
    border: 0.5px solid var(--col_border);
    border-left: 0px;
    border-right: 0px;
    
    margin: 10px;
    padding: 10px;
    overflow-y: scroll;
    
}

.ContentContainer_Body::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(66, 66, 66);
}
.ContentContainer_Body::-webkit-scrollbar-thumb {
    
    background-color: var(--ui_border);
    border-radius: 0px;
}