
* {
  box-sizing: border-box; 
}

:root{

  --col_page-color: #393e4a;
  --col_bg: hsl(240, 20%, 12%);
  --col_bg-hover: hsl(231, 20%, 18%);
  --col_bg-active: hsl(231, 20%, 22%);
  --col_border: rgb(200, 166, 111);
  --col_text-base: rgb(230, 230, 230);
  --col_text-highlight: rgb(170, 245, 255);
  --col_card-bg: #26345b;
}

body, html {
  margin:0;
  background: var(--col_page-color);
  height: 100vh;
  font-size: 0.9rem;
  font-family: verdana;
  letter-spacing: 0.1rem;
  color: var(--col_text-base)

}
