
:root{
  --ui_background: hsla(237, 28%, 15%, 30%);
  --ui_background-active: hsla(237, 28%, 30%, 30%);
  --ui_background-hover: hsla(237, 28%, 40%, 30%);
  --ui_highlight: hsl(180, 100%, 89%);
  --ui_border: hsla(215, 100%, 86%, 0.5);
  --ui_text-color: hsl(0, 0%, 95%);
  --ui_text-secondary-color:  hsl(0, 0%, 65%)

}

body, html {
  margin:0;
  background: rgb(35, 35, 35);
}

.Text__PrimaryInterface {
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font-family: Tahoma;
  color: var(--ui_text-color);
}

.Text__SmallLink {
  text-decoration: underline;
  color: var(--ui_text-secondary-color);
  font-size: 0.8rem;
}
.Text__SmallLink:hover {
  cursor: pointer;
  color: var(--ui_highlight)
}