
.GameAddButton__Inner {
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-style: solid;
    border-width: 1px;
    border-color: var(--col_border);
    
    user-select: none;

    transition-duration: 150ms;
}

.GameAddButton__Inner:hover {
    background-color: var(--col_bg-hover);
    cursor: pointer;
    transform: scale(1.04);
    transition-timing-function: linear;
    transition-duration: 10ms;
    box-shadow: none;
    color: var(--col_text-highlight);
}

.GameAddButton__Inner:active {
    background-color: var(--col_bg-active);
}

