.Navbar_body {
    display: flex;
    flex-direction: column;
    /*gap: 0.5rem;*/
    border-radius: 0.5rem;
    overflow: hidden;

    border-width: 1px 1px 1px 1px;
    border-color: var(--col_border);
    border-style:solid;
}

.NavContainer__button_divider {
    height: 1px;
    width: 100%;
    background-color: var(--col_page-color);
}