.ComboBox__Body {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    padding: 0.5rem;
    box-sizing: border-box;

    outline: 1px solid var(--col_border);
}

.ComboBox__OptionsList {
    

    width: 100%;
    
    position: absolute;
    z-index: 999;
    
    box-sizing: border-box;

    top: 100%;
    left: 0;

    background-color: var(--col_bg);
    outline: 1px solid var(--col_border);
}

.ComboBox_Option_Body{
    padding: 0.5rem;
}

.ComboBox_Option_Body:not(:first-of-type) {
    border-top: 1px solid var(--col_page-color);
}

@media(hover: hover) and (pointer: fine) {
    .ComboBox_Option_Body:hover {
        background-color: var(--col_bg-hover);
        cursor: pointer;
    }
    
}

.hidden{
    display: none;
}