.ToggleButton__Body {
    display: flex;
    justify-content: center;
    position: relative;

    padding: 0.5rem;
    border: 1px solid var(--col_border);
    
    user-select: none;
    width: 10rem;
}

.ToggleButton__Body::after {
    content: '';
    position: absolute;
    top:1px;
    left: 1px;
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 2px solid black;
}


@media(hover: hover) and (pointer: fine) {
    .ToggleButton__Body:hover {
        background-color: var(--col_bg-hover);
        cursor: pointer;
    }
}

.selectLeft {
    background-image: linear-gradient(to right, var(--col_border), var(--col_bg) 50%);

}

.selectRight {
    background-image: linear-gradient(to left, var(--col_border), var(--col_bg) 50%);
}