.GameCard__Inner {
    display: flex;
}

.GameCard__InfoColumn {
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    gap: 5px;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--ui_border);
}

.GameCard__Image {
    width: auto;
    height: 100%;
    flex-grow: 0;
}

.GameCard__TitleText {
    font-size: 1.2rem;
    font-family: Tahoma;
    font-weight: bold;
    color: var(--ui_text-color);
    word-wrap: break-word;
    border-bottom: 1px solid var(--ui_border);
    text-shadow: 2px 2px hsla(0, 0%, 0%, 10%);
}

.GameCard__Genre {
    font-family: Verdana;
    font-weight: bold;
    color:rgb(39, 39, 39);
    font-size: 0.7rem;
    background-color: rgb(97, 165, 205);
    
    padding: 3px;
    border-radius: 10px;
    margin-right: 5px;
}

.GameCard__InfoFields {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.GameCard__Info_Block {
    display: flex;
    flex-direction: column;
}

.GameCard__Info_Content {
    color: var(--ui_text-color);
    font-family: Verdana;
    font-size: 0.8rem;
    margin: 0px 0px 0px 1rem;
}

.GameCard__Info_Label {
    font-family: Verdana;
    font-size: 0.7rem;
    font-weight: bold;
    margin-right: 5px;
    color: var(--ui_text-secondary-color)
}